<footer>
  <hr />
  <div class="container">
    <p>Copyright &copy;<span id="current-year"></span></p>
  </div>

  <script>
    let d = new Date();
    document.getElementById("current-year").innerHTML = d.getFullYear();
  </script>
</footer>
