<!-- START NAV -->
<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <span class="navbar-burger burger" data-target="navbarMenu">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>

    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item is-active">
          Home
        </a>
        <a href="login" class="navbar-item" id="navbar-signup">
          <span>My Account</span>
        </a>
      </div>
    </div>
  </div>
</nav>
<!-- END NAV -->
