html,
body {
  font-family: "Open Sans", serif;
  font-size: 14px;
  line-height: 1.5;
  height: 100%;
  background-color: white;
}

.nav.is-dark {
  background-color: #232b2d;
  color: #f6f7f7;
}

.nav.is-dark .nav-item a,
.nav.is-dark a.nav-item {
  color: #f6f7f7;
}

.nav.is-dark .nav-item a.button.is-default {
  color: #f6f7f7;
  background-color: transparent;
  border-width: 2px;
}

.nav.menu {
  border-bottom: 1px solid #e1e1e1;
}

.nav.menu .nav-item .icon-btn {
  border: 3px solid #b7c6c9;
  border-radius: 90px;
  padding: 5px 7px;
  color: #b7c6c9;
}

.nav.menu .nav-item.is-active .icon-btn {
  color: #2eb398;
  border: 3px solid #2eb398;
}

.nav.menu .nav-item .icon-btn .fa {
  font-size: 20px;
  color: #b7c6c9;
}

.nav.menu .nav-item.is-active .icon-btn .fa {
  color: #2eb398;
}

.aside {
  display: block;
  background-color: #f9f9f9;
  border-right: 1px solid #dedede;
}

.contacts {
  display: block;
  background-color: #fff;
  border-right: 1px solid #dedede;
}

.contact {
  display: block;
  background-color: #fff;
}

.aside .compose {
  height: 95px;
  margin: 0 -10px;
  padding: 25px 30px;
}

.aside .compose .button {
  color: #f6f7f7;
}

.aside .compose .button .compose {
  font-size: 14px;
  font-weight: 700;
}

.aside .main {
  padding: 40px;
  color: #6f7b7e;
}

.aside .title {
  color: #6f7b7e;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.aside .main .item {
  display: block;
  padding: 10px 0;
  color: #6f7b7e;
}

.aside .main .item.active {
  background-color: #f1f1f1;
  margin: 0 -50px;
  padding-left: 50px;
}

.aside .main .item:active,
.aside .main .item:hover {
  background-color: #f2f2f2;
  margin: 0 -50px;
  padding-left: 50px;
}

.aside .main .icon {
  font-size: 19px;
  padding-right: 30px;
  color: #a0a0a0;
}

.aside .main .name {
  color: #5d5d5d;
  font-weight: 500;
}

.contacts {
  padding: 0;
  padding-top: 40px;
}

.contact {
  padding: 0px 20px;
}

.contacts .action-buttons {
  padding: 0;
  margin-top: -20px;
}

.contact .action-buttons {
  padding: 0;
  margin-top: -5px;
}

.pg {
  display: inline-block;
  top: 10px;
}

.action-buttons .pg .title {
  display: block;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 3px;
  font-size: 12px;
  color: #AAAAA;
}

.action-buttons .pg a {
  font-size: 12px;
  color: #aaaaaa;
  text-decoration: none;
}

.is-grouped .button .fa {
  font-size: 15px;
  color: #aaaaaa;
}

.list-contacts {
  margin-top: 0px;
}

.contact-preview {
  margin-top: 20px;
}

.list-contacts .card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 50px;
}

.list-contacts strong {
  color: #5d5d5d;
}

.list-contacts .contact-check {
  padding: 0 20px;
}

.list-contacts .contact-subject {
  padding: 10px 0;
  color: #5d5d5d;
}

.list-contacts .contact-attachment {
  float: right;
}

.list-contacts .contact-snippet {
  padding: 5px 20px 0px 5px;
}

.list-contacts .contact-subject .fa {
  font-size: 14px;
  padding: 3px 0;
}

.list-contacts .contact-timestamp {
  float: right;
  padding: 0 20px;
  color: #5d5d5d;
}

.card.active {
  background-color: #f5f5f5;
}

.list-container {
  overflow: scroll;
  overflow-x: hidden;
  height: 90%;
  padding: 0;
}

.content {
  height: 90%;
  margin-top: 20px;
  height: 90%;
  margin-top: 20px;
}

.no-contact-view {
  font-size: 90px;
  color: #aaaaaa;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: lightgrey;
}

::-webkit-scrollbar-thumb:hover {
  background: grey;
}
