<%- include("partials/header") %> <%- include("partials/navbar") %>

<div class="jumbotron">
  <div class="container">
    <h1 class="d-4">
      Welcome to EMS!
    </h1>
    <p class="lead">
      The only employee management software you will ever need.
    </p>
    <hr class="my-4" />
    <p>
      With unprecedented customer support to get you started, and top-notch
      support to keep you going.
    </p>
    <p class="lead">
      <a href="#" role="button" class="btn btn-primary btn-lg">Get Started</a>
    </p>
  </div>
</div>

<%- include("partials/footer") %> <%- include("partials/scripts") %>
