
  <% include partials/landingHeader %>


    <body>

      <% include partials/landingNav %>

      <!-- START OF TOP HERO -->
      <section class="hero is-fullheight" id="hero-top">
        <div class="hero-body">
          <div class="container">
            <h1 class="title" id="hero-title">
              EMS
            </h1>
            <h2 class="subtitle" id="hero-subtitle">
              A new way to manage your contacts.
            </h2>
          </div>
        </div>
      </section>
      <!-- END OF TOP HERO -->



      <!-- START OF MIDDLE HERO -->
      <section class="hero is-fullheight" id="hero-middle">
        <div class="hero-body">
          <div class="container">

            <div class="columns">
              <div class="column hero-middle-column">
                <p class="has-text-centered">
                  <span class="icon is-medium">
                    <i class="fas fa-user-plus"></i>
                  </span>
                  <p class="has-text-centered">Add</p>
                </p>
              </div>

              <div class="column hero-middle-column">
                <p class="has-text-centered">
                  <span class="icon is-medium">
                    <i class="fas fa-search"></i>
                  </span>
                  <p class="has-text-centered">Search</p>
                </p>
              </div>

              <div class="column hero-middle-column">
                <p class="has-text-centered">
                  <span class="icon is-medium">
                    <i class="fas fa-trash"></i>
                  </span>
                  <p class="has-text-centered">Delete</p>
                </p>
              </div>
            </div>

          </div>
          </div>
        </div>
      </section>



    <script type="text/javascript">

      $(document).ready(function() {
      // Check for click events on the navbar burger icon
      $(".navbar-burger").click(function() {

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          $(".navbar-burger").toggleClass("is-active");
          $(".navbar-menu").toggleClass("is-active");

        });
      });

    </script>

  </body>
</html>
