<%- include("partials/header") %> <%- include("partials/navbar") %>

<div class="container">
  <h1>View all Employees</h1>

  <ul class="list-group">
    <li class="list-group-item">
      <a href="#">John Doe</a>
    </li>
    <li class="list-group-item">
      <a href="#">Jane Doe</a>
    </li>
    <li class="list-group-item">
      <a href="#">Ted Williams</a>
    </li>
    <li class="list-group-item">
      <a href="#">Ted Jones</a>
    </li>
    <li class="list-group-item">
      <a href="#">Willia Cather</a>
    </li>
  </ul>
</div>

<%- include("partials/footer") %> <%- include("partials/scripts") %>
