<div class="container">
  <h1>View all Employees</h1>
  <ul class="list-group">
    <% employees.forEach((employee) => {%>
    <li class="list-group-item">
      <a href="/employees/<%= employee._id %>">
        <%= employee.fName %> <%= employee.lName %>
      </a>
    </li>
    <% }); %>
  </ul>
</div>
