<% includes partials/header %>

<body>
  <nav class="navbar" role="navigation" aria-label="dropdown navigation">

    <a style="margin: 0;" class="navbar-item">
      <img src="https://upload.wikimedia.org/wikipedia/commons/4/4c/Logo-Free.jpg" width="40">
      <img src="https://cdn130.picsart.com/252265843032212.png?r1024x1024" width="40">
    </a>
  </nav>

  <section class="hero is-primary">
    <div class="hero-body">
      <div class="columns is-centered">
        <div class="column is-half">
          <h1 class="title">EMS</h1>
          <p class="subtitle">Store your contacts Secure & Safe with <b>EMS</b></p>
        </div>
        <div class="column is-half has-text-centered">
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input type="email" placeholder="Email" class="input">
              <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fa fa-check"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input type="password" placeholder="Password" class="input">
              <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
              </span>
            </p>
          </div>
          <a class="button">Sign Up</a>
          <a class="button">Sign In</a>
        </div>
      </div>
    </div>
  </section>
  <section class="section">

  </section>
</body>
<script type="text/javascript" src="../public/scripts/splash.js"></script>
</html>
