<%- include("partials/header") %> <%- include("partials/navbar") %>

<div class="container">
  <h1>John Doe</h1>
  <hr />
  <h3>Phone Numbers</h3>
  <ul class="list-group">
    <label for="work">Work</label>
    <li id="workPhone" class="list-group-item mb-2">555-555-5555</li>
    <label for="mobile">Mobile</label>
    <li id="mobilePhone" class="list-group-item mb-2">555-555-5555</li>
    <label for="home">Home</label>
    <li id="homePhone" class="list-group-item mb-2">555-555-5555</li>
  </ul>
  <hr />
  <h3>Email Address</h3>
  <span class="lead">jdoe@email.test</span>
  <hr />
  <div class="btn-group">
    <a href="#" class="btn btn-info">Edit Employee</a>
    <a href="#" class="btn btn-danger">Delete Employee</a>
  </div>
</div>

<%- include("partials/footer") %> <%- include("partials/scripts") %>
